<div class="widget-title k-block">kendo.ui.SlideUpList <i>extends</i> <a href="http://docs.kendoui.com/api/framework/widget">kendo.ui.Widget <div class="external-link-image"></div></a></div>
<div class="widget-subtitle">Introduced for Kiewit</div>
<div class="section-title">Description</div>
<div class="section">
    The SlideUpList widget enables a slider section at the bottom of the page.
    It is possible to pass an array of elements which are rendered as a list
    inside it.
</div>

<div class="section-title">Example</div>
<div class="section">
    <div id="targetDiv">
    </div>
</div>
<div class="section-title">Configuration</div>
<div class="section">
    <div><span class="property-title">elements</span> <span class="property-type">: Array</span></div>
    <div class="property-section">
        An array of elements with attributes to be rendered in the SlideUp section.
    </div>
</div>